.questionContainer{
  width: 100%;
  padding: 0 100px 0 100px;
}

.pbar{
  width: 100%;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 25px;
  background-image: url('../img/pbar.png');
}

.pbarItem{
  height: 40px;
  width: 40px;
  border-radius: 55px;
  border: 2px solid #6d6d6d;
  display: inline-block;
  line-height: 36px;
  text-align: center;
  font-weight: bold;
  color: #6d6d6d;
  font-size: 20px;
  background-color: white;
}

.pbarItemVisited{
  border-color: #6d6d6d;
  color: #6d6d6d;
  background-color: #adadad;
}

.pbarItemCurrent{
  border-color: #6d6d6d;
  color: white;
  background-color: #0bb505;
}

.questionNum{
  margin-right: 35px;
  vertical-align: top;
  height: inherit;
}

#q1{
  visibility: visible;
}

.questionBlock{
  display: inline-block;
  position: relative;
  width: 100%;
}

.question{
  position: absolute;
  visibility: hidden;

}

.questionOption{
}

.questionOptionVariant{
  visibility: hidden;
  position: absolute;
  width: 100%;
}

.questionForm{
  width: 150px;
}

#qov1{
  visibility: visible;
}

#questionButton{
  width: 150px;
  display: inline-block;
}

#skipButton{
}
